<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>BossList</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <a href="/main">Boss List</a>
    <a href="/about">About</a>
    <a href="/admin">Admin Page</a>
    <a href="/logout">Logout</a>
  </nav>
  <nav>
    <a id="mainBtn" href="/main">Main List</a>
    <a id="legacyBtn" href="/main">Legacy List</a>
  </nav>

  <section id="list"></section>

  <div id="msg" class="hidden">
    <span id="error"></span>
  </div>
</body>